.footer {
    background-color: rgb(12, 12, 12);
    height: 200px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 2rem auto;

    &__logo {
        display: flex;
        justify-content: center;

        .logo_svg {
            svg {
                height: 100px;
                width: 100px;
            }
        }

        &__text {
            position: relative;
            top: 15%;

        }
    }


    @media only screen and (max-width: $small) {
        display: none;
    }


}