@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Reem+Kufi&family=Rubik:wght@300;500&display=swap');

.h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;

    @media only screen and (max-width: $small) {
        font-size: 2rem;
    }
}

.h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 2rem;

    @media only screen and (max-width: $small) {
        font-size: 1.5rem;
    }
}

.h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;

}

.h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
    margin: .5rem auto;

}

.paragraph {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;

    @media only screen and (max-width: $small) {
        font-size: 1rem;
    }
}

.nav_mobile__menu {
    li {
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
        color: black;

        &:hover {
            color: rgb(53, 53, 53);
        }
    }
}

.logo_palace__logo {

    p {
        font-size: 5rem;
        color: white;
        font-family: 'Reem Kufi', sans-serif;

        @media only screen and (max-width: $small) {
            font-size: 2.5rem;
        }
    }
}

.footer {

    &__logo {
        font-size: 2rem;
        font-family: 'Reem Kufi', sans-serif;
    }

    p {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 1rem;
    }

    a {
        color: orange;

        &:hover {
            color: white;
        }
    }
}